:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(120, 120, 120);
}

body {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#root {
    position: relative;
    width: 380px;
    height: 750px;
    padding: 30px;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: rgb(15, 18, 38);
}

h1,
h2,
p {
    margin: 4px;
    padding: 0;
}

h1 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

header .info-container {
    display: flex;
    justify-content: space-between;
}

header .img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

header .img-container img {
    height: 110%;
}

header .threads-info {
    color: var(--secondary-color);
    background-color: rgba(59, 59, 59, 0.5);
    font-size: 13px;
    padding: 3px 6px;
    border-radius: 20px;
}

svg {
    fill: var(--primary-color);
}

input {
    background-color: transparent;
    border: var(--secondary-color) 1px solid;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    color: var(--primary-color);
}

input:focus {
    outline: none;
}

button {
    padding: 7px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: transparent;
    border: var(--secondary-color) 1px solid;
}

button.primary {
    width: 100%;
    margin: 15px 0;
    border-radius: 7px;
}

.button-container button {
    width: 50%;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
}

.button-container button.active {
    border-bottom: 2px solid var(--primary-color);
}

.subtext {
    color: var(--secondary-color);
}

.feed {
    height: 400px;
    overflow-y: scroll;
}

.feed-card {
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px 0;
}

.feed-card .text-container,
.feed-card .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-card .img-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2px 5px 2px 0;
}

.feed-card .img-container img {
    height: 110%;
}

.feed-card .icons svg {
    height: 20px;
    padding: 0 5px;
}

.slideup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 380px;
    height: 650px;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgb(25, 25, 55);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5),
        0 0 40px rgba(0, 0, 0, 0.5), 0 0 80px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}
